<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="parent" id="app">
    <div class="child"  v-if="isShow">1111</div>
    <keep-alive :max="1">
        <input type="text"  v-model="value"  v-if="!isShow">
        <input type="text"  v-model="value2" v-if="isShow">
    </keep-alive>
    <button @click="isShow = !isShow">按钮</button>
    
  </div>

  <script>
    new Vue({
      el:"#app",
      data(){
        return {
          isShow:false,
          value:"",
          value2:""
        }
      },
    })
    
  </script>
</body>
</html>