<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>keep-alive example</title>
    <script src="../../dist/vue.js"></script>
    <!-- template for the component -->
    <script type="text/x-template" id="demoText">
      <div>
        <span>{{name}}</span> 
        <input type="text" v-model="text">
      </div>
    </script>
  </head>
  <body>

    <div id="app">
      <div>
        <button @click="notAliveToggle = !notAliveToggle">not-alive</button>
        <button @click="aliveToggle = !aliveToggle">alive</button>
      </div>
      <Demo-Text name="not-alive" v-if="notAliveToggle"></Demo-Text>
      <keep-alive >
        <Demo-Text name="alive" v-if="aliveToggle"></Demo-Text>
      </keep-alive>
    </div>
    <script>
    Vue.component('demo-text', {
      template: '#demoText',
      data: function () {
        return {
          text:""
        }
      },
      props:["name"]
    })
    new Vue({ 
      el: '#app',
      data(){
        return {
          notAliveToggle:true,
          aliveToggle:true,
        }
      }
    })
    </script>
  </body>
</html>
